/* theme colors */
$bg-color: white;
$gradient-color-primary: orange;
$gradient-color-primary-hover: white;
$gradient-color-secondary: grey;
$primary-color: black;
$primary-color-hover: grey;
$secondary-color: grey;

/* theme fonts */
$primary-font: "Roboto Mono", monospace;
$secondary-font: "Roboto", sans-serif;
